ul{
    list-style: none;
}
.inpanel{
    border: 1 !important;
    border-radius: 0;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
#tallModal .modal-body p { margin-bottom: 900px }
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05)
}
.panel-group .panel {
    margin-bottom: 0;
    border: 0;
    background-color: transparent !important;
}
.panel-group .panel+.panel {
    margin-top: 0px !important;
}
.panel-group{
    margin-left: 0 !important;
}
li.panel-heading{
    padding: 0;
}
.panel-default>.panel-heading {
    color: #5990c3;
    background-color: #00478a;
    border: 0;
}
.sidebar-nav div.panel-heading:hover {
    text-decoration: none;
    color: #fff;
    background: #2c343f ;
}
.panel-group .panel-heading {
    border-bottom: 0px;
}
.panel-heading{
    display: block;
}
div.panel-heading:hover {
    cursor: pointer;
    text-decoration: none !important;
}
div.panel-heading a:hover {
    cursor: pointer;
    text-decoration: none !important;
}
div.panel-heading a:link {
    text-decoration: none !important;
}
.panel-group {
    margin-left: 4px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-title {
    font-size: 14px;
}
#wrapper.toggled .sidebar-nav div.panel-heading span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}
h4 .panel-title{
    display: block;
}
@media(max-width:768px) {
.sidebar-nav div.panel-heading span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}
}
.tr-disabled {
    background-color: #cccccc !important;
}
.dataTables_filter {
    display: none !important;
}