body {
  font-family: 'Myriad Pro' !important;
}
.backendLogo{
  margin: 5px 0 0 5px;
}
button.close{
  opacity: .5;
}
.myTableThead{
  border: 1px solid #222;
}
.myTableHeader{
  border: 0 1px 0 1px solid #ddd;
  background-color: #222;
  color: white; 
}
.myTableTdSplit{
  background-color: #f2f2f2; 
}
.page-header h1{
  text-transform: uppercase !important;
}
#sidebar-wrapper ul li.active a {
    color: #ffffff;
}
.table{
  border: 1px solid #ddd;
}
.headerCase{
    font-size: 13px;
    text-transform: uppercase !important;
}
.panelHeader{
    background-color: #ffffff !important;
    text-transform: uppercase !important;
}
.panelFooter{
    background-color: #fdfdfd !important;
}
div.btn.btn-primary.btn-file,
div.form-control.file-caption.kv-fileinput-caption{
    border-radius: 0;
}
/*myModal*/
.modal-header{
    background-color: #484848 !important;
}
.modal-footer{
    background-color: #f1f1f1 !important;
}
.myModal {
    background-color:#484848;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
}
/*myModal*/
.loading-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1039;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-align: center;
}

.loading-pane > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    width: 64px;
}

.loading-pane .fa {
    color: #1d1d1d;
}

.modal .loading-pane {
    z-index: 5000;
}

.table-pagination .th-sort {
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    #sidebar-wrapper{
        display: visible;
    }
}
@media screen and (max-width: 768px) {
    .sidebar-nav,#sidebar-wrapper{
        display: none;
    }
    #page-content-wrapper{
        top: 50px;
        padding: 0px !important;
    }
    .navbar{
        margin-bottom: 0px
    }
    .table-responsive{
        border: 0 !important;
    }
/*    #row-per{
      margin-top: 10px !important;
    }*/
    .navbar-nav>li>a {
    line-height: 8px;
  }
  .sidebarIcon{
        margin: 0 0 0 0 !important;
  }
}

.btn-settings:hover {
    cursor: pointer;
}

.select2-drop {
    display: none !important;
}
.border-none{
    border:none !important;
}
.padding-none{
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.th-border{
    border-top: none !important;
}
.padding-bottom{
    margin-bottom:none !important;
}
.hr-margin{
    margin:0 !important;
}
.note-color {
    display: none;
}
