#dashboardHome .panel {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
#dashboardHome a:hover,
#dashboardHome a:focus{
   padding: 5px;
	 text-decoration: none;
}
#dashboardHome a{
	padding: 5px;
	color: #737373;
	display: block;
	text-decoration: none;
}
#dashboardHome .panel-heading {
	background-color: #FFFFFF;
	border-bottom: 1px solid #f3f3f3 !important;
	padding: 15px !important;
	text-transform: uppercase !important;
	color: #232425 !important;
	font-size: 13px !important;
	letter-spacing: 1px !important;
}
.panelLabel{
	  color: #ffffff;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 10px;
    padding: 5px 5px 3px 5px;
    border-radius: 0;
    text-transform: uppercase !important;
}
.page-header {
    padding: 5px 15px 5px 15px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
    background-color: #ffffff;
}
.breadcrumb{
	padding: 0;
	list-style: none;
	background-color: transparent;
}
.panelHead{
	 background-color: #ffffff !important;
   border-color: #F3F3F3 !important;
}
.mainPanel{
	 border: 0 !important;
}
.label-default {
   background-color: #D8D8D8;
}
.myTabs{
	background-color: #ffffff;
	border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}
#myTabs li{
	background-color: #222;
}
#myTabs li a{
	color: #ffffff;
	border-radius: 0;
	border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: none;
  text-decoration: none;
	display: block;
}
#myTabs li.active a{
	color: #333;
	border-radius: 0;
	display: block;
}
.nav>li>a:hover {
	border: none;
  text-decoration: none;
  background-color: #2F2F2F;
}
#loanExpand .table,
#loanExpand tbody td{
	border: 0;
}
/*.myTabBg{
	background-color: #222;
}
.tabLink{
	 display: block !important;
   border-radius: 0 !important;
   border: 1px solid #222;
}
#myTabs li a{
	color: #ffffff;
}
#myTabs li.active:hover{
	background-color: #ffffff;
}
#myTabs li.active a{
	color: #333333 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
		border: none;
    text-decoration: none;
    background-color: #2F2F2F;
}*/
.pagination{
	border-radius: 0 !important;
	margin: 0 !important;
}
.well{
	background-color: #ffffff;
}
.btn-back{
	background-color: #222;
  border-right: 2px solid #080808;
  color: #ffffff;
}
.btn-back:hover{
  color: #ffffff;
}
/*modal*/
.modal-delete {
   background: rgb(202, 60, 60); /* this is a maroon */
   color: #ffffff;
}

.modal-warning {
    color: #ffffff;
    background-color: #f0ad4e;
}

.modal-default {
    color: #fff;
    background-color: #337ab7;
}

.panel-default{
	border-color: #eee !important;
}
.form-control{
	border: 1px solid #eee !important;
}

