/* Login Form */

@media (max-width: 370px) {

  #form-login {
    max-width: 310px !important;
  }

  h1 {
    font-size: 32px;
  }

  #form-login .control-label {
    padding-left: 15px !important;
  }

}

body {
  font-family: 'Myriad Pro' !important;
}

input {
   border-radius: 0 !important;
}

input:focus {
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
   border: solid 1px #2c343f !important;
   border-left: 2px solid #2c343f !important;
   outline: -webkit-focus-ring-color auto 0px !important;
}

button:focus {
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
   outline: -webkit-focus-ring-color auto 0px !important;
}

#form-login {
  max-width: 350px;
  float: none;
  margin: 0 auto;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

#form-login input {
  border-left: 2px solid #00c0ac;
  max-width: 250px;
  float: none;
  margin: 0 auto;
}

#form-login .control-label {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 35px;
}

#form-login button {
  border: 0;
  background-color: #00c0ac;
  border-radius: 0;
}

#form-login .auth-group {
  padding-bottom: 40px;
}

#form-login .a-forgot {
  color: #cccccc;
}

#form-login .panel-logo {
  background-color: #1d1d1d;
  text-align: center;
  padding-top: 15px;
  border-bottom: 2px solid #00c0ac;
  border-top: none !important;
}

#form-login .panel-heading {
  background-color: #1d1d1d;
  border-radius: 0;
  color: #00c0ac;
}

#form-login .panel-forgot {
  border-top: 2px solid #00c0ac;
  border-bottom: none !important;
  background-color: #1d1d1d;
  border-radius: 0;
  color: #00c0ac;
}

#form-login .btn-login {
  width: 70%;
}

#form-login input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

#form-login .panel-body {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  max-width: 250px;
  float: none;
  margin: 0 auto;
}

#form-login #rememberme {
  padding-left: 20px;
}
/*.panel, button, input {
  border-radius: 0 !important;
}*/

h1 {
  font-weight: bold;
}

.bg-login {
  background-color: #151515;
}

.color-white {
  color: #ffffff;
}

.centered {
    float: none;
    margin: 0 auto;
}

.text-centered {
  text-align: center;
}

.v-centered {
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    width:100%;
}

.padding-none {
  padding: 0 !important;
}
