body {
	font-family: 'Myriad Pro';
	background-color: #151515;
}
.bootstrap-datetimepicker-widget i{
  color: #222 !important;
}
button.close{
  color: #646464;
}
.borderZero{
  border-radius: 0;
}
.modal-header {
    background-color: #484848 !important;
    color: #ffffff !important;
}
.loading-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1039;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-align: center;
}

.loading-pane > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 64px;
    width: 64px;
}

.loading-pane .fa {
    color: #1d1d1d;
}

.navbar, input, textarea, label, span, h1, h2, h3, h4, p, small, big, pre, .btn, #copyright {
  max-width: 1920px;
  font-family: Myriad Pro;
  font-weight: normal;
}

a {
  text-decoration: none !important;
}

pre {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  font-size: 15px;
  line-height: 1.15;
  width: 100%;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
}

input:focus, select:focus, textarea:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  border: solid 1px #00c0ac !important;
}

a, a:hover, a:active, a:focus {
   outline: 0  !important;
}
/*
body {
  background-color: #e6e6e6; 
}*/

@media (max-width: 991px) {
  #navbar-main {
    padding: 0 !important;
    /*background-color: #ffffff !important;*/
    height: 120px;
  }

  #featured-carousel {
    max-width: 500px !important;
    margin: 0 auto;
  }

  #contact-us textarea {
    margin: 5px 0 0 0 !important;
  }

  #main-logo {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: top left;
    -o-transform-origin:  top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 0 15px !important;
  }

	#navbar-main .nav {
	  padding-top: 0 !important;
	}

  #navbar-main {
    height: 122px;
  }

  #about-us {
  	padding-bottom: 30px;
  }
	.navbar-nav {
		margin-top: 0 !important;
	}

  #jumbotron-header h2, #jumbotron-header p, #jumbotron-button {
    text-align: center !important; 
  }

}

@media (max-width: 767px) {

  #about-us .featured-img {
    height: 150px !important;
  }

  #online-application {
  	padding-bottom: 30px;
  }

	#online-application a {
  	margin-bottom: 10px !important;
  }

  #featured-carousel {
    max-width: 320px !important;
    margin: 0 auto;
  }

  #jumbotron {
    min-height: 400px !important;
  }

  .btn-jumbotron {
    margin: 10px 5px 5px 5px !important;
  }

  #jumbotron-header {
    padding-top: 70px !important;
    color: #00c0ac;
  }

  #jumbotron-header h2 {
    padding-right: 0 !important;
  }

  #jumbotron-header p {
    line-height: 1;
    padding-right: 0 !important;
  }

  #navbar-main {
    padding: 0 !important;
    /*background-color: #ffffff !important;*/
    margin-top: 0 !important;
    height: 50px;
  }

	.footer-copyright {
		float: none !important;
		text-align: center;
		font-size: 10px;
		margin: 0;
	}

	.xerolabs {
		float: none !important;
		text-align: center;
		font-size: 10px;
		margin-bottom: 15px;
	}

	#navbar-main .nav {
	  padding-top: 0 !important;
	}

	.navbar-nav {
		margin-top: 0 !important;
	}

  #main-logo {
    height: 50px !important;
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: top left;
    -o-transform-origin:  top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-left: 15px !important;
  }

  .navbar-collapse {
    background-color: #1d1d1d !important;
  }

  #about-us .about-icon, #about-us h3 {
    text-align: center;
  }

	.navbar-collapse li>a:hover {
	  border-left: 2px solid #00c0ac; 
	  border-bottom: 0 !important;
	}

	.navbar li>a.active {
	  border-left: 2px solid #00c0ac; 
	  border-bottom: 0 !important;
	}

  #medical-team .med-profile {
    max-width: 275px;
  }
}

.padding-none {
  padding: 0;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.margin-none {
  margin: 0;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

#top-nav {
  height: 30px;
  background-color: #151515;
  text-align: right;
  padding-top: 2px;
  color: #ffffff;
}

#top-nav p {
  font-family: 'Arial' !important;
  font-size: 11px !important;
}

#top-nav select {
  height: 22px;
  margin-top: 2px;
  border: none;
}

#top-nav .btn {
  color: #000000;
  background-color: #00c0ac;
}

#sub-title {
  float: left !important;
  font-size: 12px;
  opacity: .6;
  padding-top: 8px;
}

#sub-title-right {
  font-size: 12px !important;
  opacity: .6;
  padding-top: 8px;
}


#top-nav a {
  font-size: 12px;
  color: #ffffff;
}


#navbar-main {
  /*padding: 10px 0;*/
  transition: background .5s ease-in-out, padding .5s ease-in-out, margin .2s ease-in-out !important;
  border: 0;
  background: transparent;
  margin-top: 30px;
  border-bottom: 2px solid #151515;
}

#navbar-main .nav {
  padding-left: 0;
  padding-top: 18px;
  margin-bottom: 0;
  list-style: none;
}

#navbar-main .navbar-collapse {
  background: transparent;
}

.opaque {
  background: #ffffff !important;
  transition: background-color .2s ease 0 !important;
/* Transition effect to make it fade in (optional) */
  margin: 0 !important;
  padding: 0 !important;
  transition: background .5s ease-in-out, padding .5s ease-in-out !important, margin .2s ease-in-out !important;
  height: 52px;
}

.opaque .nav {
  transition: background-color .2s ease 0 !important;
  transition: background .5s ease-in-out, padding .5s ease-in-out !important, margin .2s ease-in-out !important;
	padding: 0 !important;
}

#main-logo.en-logo {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform-origin: top left;
  -o-transform-origin:  top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  height: 70px;
}

.opaque-logo.en-logo {
  -webkit-transform: scale(0.65, 0.65);
  -o-transform: scale(0.65, 0.65);
  -ms-transform: scale(0.65, 0.65);
  transform: scale(0.65, 0.65);
  -webkit-transform-origin: top left;
  -o-transform-origin:  top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
}

#main-logo.sa-logo {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform-origin: top right;
  -o-transform-origin:  top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  height: 70px;
}

.opaque-logo.sa-logo {
  -webkit-transform: scale(0.65, 0.65);
  -o-transform: scale(0.65, 0.65);
  -ms-transform: scale(0.65, 0.65);
  transform: scale(0.65, 0.65);
  -webkit-transform-origin: top right;
  -o-transform-origin:  top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.navbar-brand {
  padding-top: 7px;
}

.navbar-header  {
  height: 100%;
}

.navbar-collapse {
  border: none;
  background-color: #ffffff;
}

.navbar-toggle {
  background-color: #1d1d1d;
  border-color: #00c0ac !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1d1d1d;
}

.navbar-toggle .icon-bar {
	background-color: #00c0ac !important;
}

div.navbar-collapse.collapse {
  border: none;
  margin-top: 0 !important;
}

.navbar-collapse li>a {
  color: #00c0ac !important;
  font-size: 16px;
}

.navbar-collapse li>a:hover {
  color: #00c0ac !important;
  border-bottom: 2px solid #00c0ac; 
}

.navbar li>a.active {
  color: #00c0ac !important;
  border-bottom: 2px solid #00c0ac; 
}

.navbar .active {
  background-color: transparent;
}

#parallax-bg {
  /*background: url("../images/jumbotron.jpg") no-repeat center center;*/
  /*background-size: cover;*/
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

#jumbotron {
  padding: 0;
  top: 50px;
  min-height: 600px;
  margin: 0 !important;
  background-color: #000000;
}

#jumbotron-header {
  padding-top: 220px;
  text-align: center;
  color: #00c0ac;
}

#jumbotron-header h2 {
  padding-right: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
}

#jumbotron-header p {
  font-size: 18px;
  padding-right: 10px;
  margin: 0;
  text-transform: uppercase;
}

#jumbotron-button {
	margin-top: 10px;
  margin-bottom: 60px;
}

.btn-jumbotron {
  /*margin-top: 10px;*/
  margin-right: 10px;
  font-size: 18px;
  font-weight: 200 !important;
  width: 200px;
  border-radius: 0;
  color: #00c0ac;
  background-color: transparent;
  border: 3px solid #00c0ac;
  -webkit-transition: all .5s ease;
/* Safari and Chrome */
  -moz-transition: all .5s ease;
/* Firefox */
  -o-transition: all .5s ease;
/* IE 9 */
  -ms-transition: all .5s ease;
/* Opera */
  transition: all .5s ease;
}

.btn-jumbotron:focus {
  color: #00c0ac;
}

.btn-jumbotron:hover {
  color: #fff;
  background-color: #00c0ac;
  border: 3px solid #00c0ac;
}

#about-us {
	padding-top: 70px;
  min-height: 350px;
  text-align: center;
  background-color: #ffffff;
}

#about-us h2 {
  color: #00c0ac !important;
  font-size: 18px;
  margin: 10px 0;
  text-transform: uppercase;
}

#about-us p {
  font-size: 14px;
 	line-height: 1.3;

}

#about-us .fa {
  color: #00c0ac;
  margin-bottom: 15px;
}

#online-application {
  min-height: 350px;
  background-image: url('../images/online-application.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
}

#online-application h2 {
  margin-top: 100px;
  font-size: 36px;
  font-weight: bold;
}

#online-application p {
  font-size: 18px;
  font-weight: 120;
  text-transform: uppercase;
}

#online-application a {
  background-color: #ffffff;
  color: #00c0ac !important;
  font-weight: bold;
  border-radius: 0;
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  margin-bottom: 50px;
}

#services {
	min-height: 560px;
	text-align: center;
  background-image: url('../images/services.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #cccccc;
}

#services a {
  color: #cccccc;
}

#services h2 {
	font-size: 18px;
  text-transform: uppercase;
}

#services p {
	font-size: 14px;
}

#services>.container>div {
	margin: 60px 0;
}

#clients {
	min-height: 150px;
	text-align: center;
	background-color: #fafafa;
}

#clients h2 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

#news {
  min-height: 290px;
  background-color: #ffffff;
  padding-bottom: 20px;
}

#news h2 {
  font-weight: bold;
  font-size: 18px;
}

#news p {
  /*font-weight: bold;*/
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}
#contact-info {
  min-height: 290px;
  background-color: #ffffff;
  padding-bottom: 20px;
}

#contact-info h2 {
  font-weight: bold;
  font-size: 18px;
}

#contact-info p {
  /*font-weight: bold;*/
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}
.custom-page-header {
  padding-top: 80px;
  text-align: center;
  color: #00c0ac;
  }
  .custom-page-header img{
    display: block;
  max-width: 100%;
  }
.custom-page-header h2 {
    text-align: left;
    padding-left: 15px;
  }
.custom-page-date {
  padding-right: 16px;
font-size: 12px;
color: #ccc;
text-decoration: none !important;
}
.news-container {
  padding-top: 100px;
}

.news-article {
  padding-bottom: 25px;
  margin-bottom: 10px;
  border-bottom: 1px #ccc solid;

}

.news-expand  {
padding-top: 7px; 
color: #00c0ac;
font-size: 12px;
text-transform: uppercase;

}
.news-collapse {
padding-top: 7px; 
color: #00c0ac;
font-size: 12px;
text-transform: uppercase;
}
.news-readmore {
padding-top: 5px !important; 
color: #00c0ac !important;
font-size: 12px;
text-transform: uppercase;
}

.news-readmore a{
color: #00c0ac !important;
}
.news-readmore a:hover{
color: #337ab7 !important;
}
.news-date {
font-size: 12px;
color: #ccc;
text-decoration: none !important;
}

#news h2{
  padding: 0px;
  margin:5px 0px 5px 0px;
}

#news p {
  line-height: 1.5;
}


footer {
	min-height: 60px;
	padding-top: 20px;
	color: #00c0ac;
	background-color: #212121;
}

.footer-copyright {
	float: left;
}

.xerolabs {
	float: right;
  color: #00c0ac;
}

.xerolabs:hover {
  color: #00c0ac;
}

.custom-td {
    background-color: #FFF !important;
}

.note-editable .panel-body{
  height: 400px !important;
}

.row-pages {
  text-align: center;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #00c0ac;
    border-color: #00c0ac;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #000000;
    background-color: #eee;
    border-color: #ddd;
}
.pagination .active span {
    background-color: #00c0ac !important;
    border-color: #00c0ac;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}